<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Импорт сертификата на устройство</title>

        <link href="http://yandex.st/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet" id="main-theme-script">
    </head>

    <body>
        <h3>Импорт сертификата на устройство</h3>

        <form class="form-horizontal">

            <div class="control-group">
                <label class="control-label" for="devices">Устройства</label>
                <div class="controls">
                    <select id="devices"></select>
                    <button id="show_pin" type="button" class="btn btn-small">Ввести PIN</button>
                </div>
            </div>

            <div class="control-group pin_group hide">
                <label class="control-label" for="pin_input">PIN-код</label>
                <div class="controls">
                    <input type="password" id="pin_input" />
                    <button id="login" type="button" class="btn btn-small btn-success">Войти</button>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pem_text">Тело сертификата</label>
                <div class="controls">
                    <textarea id="pem_text" rows="10" class="span9 small"></textarea>
                </div>
            </div>

            <div class="form-actions">
                <button type="button" class="btn close_btn">Закрыть</button>
                <button type="submit" class="btn btn-primary submit_btn">Импортировать</button>
            </div>
        </form>

    </body>
</html>